<!DOCTYPE html>
<html lang="en">

<head>
    <title>Teacher Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link href="{% static 'css/jquery.mb.YTPlayer.min.css' %}" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <style>
        .error-message {
            margin-top: 5px;
        }
    </style>

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

    <div class="site-wrap">

        <div class="py-2 bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 d-none d-lg-block">
                        <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a question?</a>
                    </div>
                    <div class="col-lg-3 text-right">
                        <a href="{% url 'login' %}" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
                        <a href="{% url 'register' %}" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Register</a>
                    </div>
                </div>
            </div>
        </div>

        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="{% url 'index' %}" class="d-block">
                            <img src="{% static 'images/logo.png' %}" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li><a href="{% url 'index' %}" class="nav-link text-left">Home</a></li>
                                <li class="has-children">
                                    <a href="{% url 'about' %}" class="nav-link text-left">About Us</a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'teachers' %}">Our Teachers</a></li>
                                        <li><a href="{% url 'about' %}">Our School</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% url 'admissions' %}" class="nav-link text-left">Admissions</a></li>
                                <li><a href="{% url 'courses' %}" class="nav-link text-left">Courses</a></li>
                                <li><a href="{% url 'contact' %}" class="nav-link text-left">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('{% static 'images/bg_1.jpg' %}')">
            <div class="container">
                <div class="row align-items-end justify-content-center text-center">
                    <div class="col-lg-7">
                        <h2 class="mb-0">Teacher Registration</h2>
                        <p>Fill out the form to register as a teacher.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="custom-breadcrumbs border-bottom">
            <div class="container">
                <a href="{% url 'index' %}">Home</a>
                <span class="mx-3 icon-keyboard_arrow_right"></span>
                <span class="current">Teacher Registration</span>
            </div>
        </div>

        <div class="site-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <form action="{% url 'register_teacher' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-md-6 form-group">
                                    <label for="first-name">First Name <span class="required">*</span></label>
                                    <input type="text" id="first-name" name="first_name" class="form-control" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="last-name">Last Name <span class="required">*</span></label>
                                    <input type="text" id="last-name" name="last_name" class="form-control" required>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="gender">Gender <span class="required">*</span></label>
                                    <select id="gender" name="gender" class="form-control" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                                <div class="col-md-6 form-group">
                                    <label for="age">Age <span class="required">*</span></label>
                                    <input type="number" id="age" name="age" class="form-control" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="email">E-mail Address <span class="required">*</span></label>
                                    <input type="email" id="email" name="email" class="form-control" placeholder="ex: myname@example.com" required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="contact">Contact <span class="required">*</span></label>
                                    <input type="text" id="contact" name="contact" class="form-control"  required>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="address">Address</label>
                                    <input type="text" id="address" name="address_line1" class="form-control" placeholder="Street Address">
                                    <input type="text" id="address2" name="address_line2" class="form-control" placeholder="Street Address Line 2">
                                    <input type="text" id="city" name="city" class="form-control" placeholder="City">
                                    <input type="text" id="state" name="state" class="form-control" placeholder="State / Province">
                                    <input type="text" id="zip" name="zip_code" class="form-control" placeholder="Postal / Zip Code">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="qualification">Qualification</label>
                                    <input type="text" id="qualification" name="qualification" class="form-control">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="teaching-area">Your Preferable Teaching Area</label>
                                    <input type="text" id="teaching-area" name="teaching_area" class="form-control">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="classes">Classes You Can Teach</label>
                                    <input type="text" id="classes" name="classes" class="form-control">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="subjects">Subjects You Can Teach</label>
                                    <input type="text" id="subjects" name="subjects" class="form-control">
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="experience">Any Experience of Teaching</label>
                                    <textarea id="experience" name="experience" rows="5" class="form-control"></textarea>
                                </div>
                                <div class="col-md-12 form-group">
                                    <label for="referral">How did you find out about us? <span class="required">*</span></label>
                                    <textarea id="referral" name="referral" class="form-control" placeholder="E.g.: Ads, Friend, Internet, Newspaper"></textarea> 
                                </div>
                                <div class="col-md-12 form-group">
                                    <button type="submit" class="btn btn-primary btn-lg rounded-0">Register</button>
                                </div> 
                                <div class="row mt-3">
                                    <div class="col-12 text-center">
                                        <p>Already have an account? <a href="{% url 'login' %}">Log in here</a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4"><img src="{% static 'images/logo.png' %}" alt="Image" class="img-fluid"></p>
                        <p>The ClassNet is an online platform that enables remote teaching and learning.</p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Our Campus</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'about' %}">ClassNet</a></li>
                            <li><a href="{% url 'teachers' %}">Our Teachers</a></li>
                            <li><a href="{% url 'register' %}">Join Our Team</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Our Courses</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'course_detail_10' %}">10th Class</a></li>
                            <li><a href="{% url 'course_detail_higher_secondary' %}">Higher Secondary</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Contact</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="{% url 'contact' %}">Help Center</a></li>
                        </ul>
                    </div>
                </div>

                
            </div>
        </div>
    </div>

    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/jquery.stellar.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/jquery.mb.YTPlayer.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.querySelector("form");
    
            form.addEventListener("submit", function (event) {
                let valid = true;
                const errorMessages = document.querySelectorAll(".error-message");
                errorMessages.forEach(msg => msg.remove());
    
                // Validation functions
                function showError(fieldId, message) {
                    const field = document.getElementById(fieldId);
                    const errorMessage = document.createElement("div");
                    errorMessage.className = "error-message text-danger";
                    errorMessage.textContent = message;
                    field.parentElement.appendChild(errorMessage);
                }
    
                function validateText(fieldId, pattern, message) {
                    const field = document.getElementById(fieldId).value;
                    if (!pattern.test(field)) {
                        showError(fieldId, message);
                        return false;
                    }
                    return true;
                }
    
                // First Name and Last Name Validation
                const namePattern = /^[A-Z][a-z]{2,}$/;
                valid &= validateText("first-name", namePattern, "First name must start with a capital letter and have at least 3 characters.");
                valid &= validateText("last-name", namePattern, "Last name must start with a capital letter and have at least 3 characters.");
    
                // Gender Validation
                const gender = document.getElementById("gender").value;
                if (gender === "") {
                    showError("gender", "Gender must be selected.");
                    valid = false;
                }
    
                // Age Validation
                const age = parseInt(document.getElementById("age").value);
                if (age <= 0) {
                    showError("age", "Age must be a positive number.");
                    valid = false;
                } else if (age < 23 || age > 56) {
                    showError("age", "Age must be between 23 and 56.");
                    valid = false;
                }
    
                // Contact Validation
                const contact = document.getElementById("contact").value;
                const contactPattern = /^[6-9]\d{9}$/;
                if (!contactPattern.test(contact)) {
                    showError("contact", "Mobile number must start with 6-9 and be 10 digits long.");
                    valid = false;
                }
    
                // Email Validation
                const email = document.getElementById("email").value;
                const emailPattern = /^[a-zA-Z0-9._%+-]+@gmail\.com$/;
                if (!emailPattern.test(email)) {
                    showError("email", "Email must be in Gmail format (e.g., example@gmail.com).");
                    valid = false;
                }
    
                // Address Validation
                const addressPattern = /^[a-zA-Z0-9\s,'-]{3,}$/;
                valid &= validateText("address", addressPattern, "Street address must be at least 3 characters long.");
                valid &= validateText("city", /^[A-Za-z\s]{3,}$/, "City must be at least 3 characters long.");
                valid &= validateText("state", /^[A-Za-z\s]{3,}$/, "State must contain only characters.");
                valid &= validateText("zip", /^\d{6}$/, "Zip code must be exactly 6 digits.");
    
                // Qualification and Teaching Area Validation
                const textPattern = /^[A-Za-z\s\.,'-]{3,}$/;
                valid &= validateText("qualification", textPattern, "Qualification must contain only letters and be at least 3 characters long.");
                valid &= validateText("teaching-area", textPattern, "Teaching area must contain only letters and be at least 3 characters long.");
    
                // Classes, Subjects, and Experience Validation
                const mixedPattern = /^[A-Za-z0-9\s\.,'-]+$/;
                valid &= validateText("classes", mixedPattern, "Classes should contain only letters, numbers, and special characters.");
                valid &= validateText("subjects", mixedPattern, "Subjects should contain only letters, numbers, and special characters.");
                valid &= validateText("experience", /^[A-Za-z0-9\s\.,'-]+$/, "Experience should be in the format like '5 days', '5 months', etc.");
    
                // Referral Validation
                const referralPattern = /^[A-Za-z\s\.,'-]{3,}$/;
                valid &= validateText("referral", referralPattern, "Referral should contain only letters and be at least 3 characters long.");
    
                if (!valid) {
                    event.preventDefault();
                }
            });
        });
    </script>
    
    
    

</body>

</html>
