<form method="POST" action="{% url 'submit_quiz' quiz.id %}">
    {% csrf_token %}
    {% for question in questions %}
        <div class="question">
            <p>{{ question.text }}</p>
            <label>
                <input type="radio" name="question_{{ question.id }}" value="A"> {{ question.option_a }}
            </label>
            <br>
            <label>
                <input type="radio" name="question_{{ question.id }}" value="B"> {{ question.option_b }}
            </label>
            <br>
            <label>
                <input type="radio" name="question_{{ question.id }}" value="C"> {{ question.option_c }}
            </label>
            <br>
            <label>
                <input type="radio" name="question_{{ question.id }}" value="D"> {{ question.option_d }}
            </label>
        </div>
        <hr>  <!-- Add a horizontal line for better separation -->
    {% endfor %}
    <button type="submit">Submit Quiz</button>
</form>
